the list of entities:

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Description</th>
        <!--h scope="col">Email</th-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let interestRate of interestRates">
        <td>{{ interestRate.ticker }}</td>
        <td>{{ interestRate.description }}</td>
        <!--td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
